<div *ngIf="find;else otherFind">
    <div *ngIf="loaded; else otherLoaded">
        <h2>ID: {{weatherItem.Id}}</h2>
        <div>
            <p><b>Date:</b> {{weatherItem.Date}}</p>
            <p><b>TemperatureC:</b> {{weatherItem.TemperatureC}}</p>
            <p><b>TemperatureF:</b> {{weatherItem.TemperatureF}}</p>
            <p><b>Summary:</b> {{weatherItem.Summary}}</p>
            <p><a routerLink="/WeatherForecast" class="nav-link">Back to items</a></p>
        </div>
    </div>
    </div>
    

<ng-template #otherFind>
    <div>
        <h2>        
            Element not found
        </h2>
    </div>
</ng-template>

<ng-template #otherLoaded>
    <div>
        <h2>
            Loading...
        </h2>
    </div>
</ng-template>

